body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  line-height: 1.45;
  font-size: 17px;
  color: #1a1a1a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 500 !important;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1a1a1a;
}

section, .section, .content {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.navbar {
  background-color: #555B70 !important;
}

.navbar a {
  color: white !important;
  font-weight: 500 !important;
}

a {
  color: #9197AF !important;
}

a:hover {
  color: #1a1a1a !important;
  text-decoration: underline;
}


.tabset > .nav > li.active > a,
.tabset > .nav > li.active > a:hover,
.tabset > .nav > li.active > a:focus,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav > li.active > a,
.nav > li.active > a:hover,
.nav > li.active > a:focus {
  background-color: #4F6698 !important;
  color: white !important;
  border-color: #4F6698 !important;
}


.tabset > .nav > li > a,
.nav-tabs > li > a,
.nav-pills > li > a,
.nav > li > a {
  color: #4F6698 !important;
}


.tabset > .nav > li > a:hover,
.nav-tabs > li > a:hover,
.nav-pills > li > a:hover,
.nav > li > a:hover {
  background-color: #E6E9F3 !important;
  color: #4F6698 !important;
}


.sidebar {
  background-color: #717B9E !important;
}


.sidebar .sidebar-item .sidebar-item-text,
.sidebar .sidebar-menu .sidebar-item .sidebar-item-text {
  color: white !important;         
}


.sidebar .sidebar-item .sidebar-item-text:hover {
  color: #E6E9F3 !important;        
}


.sidebar .sidebar-item.active .sidebar-item-text {
  color: #ffffff !important;
  font-weight: 600 !important;
}
